.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.popup-content {
    position: relative;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
    text-align: center;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    max-height: 75vh;
}